<!-- nav -->
<!--
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>
-->


<!-- main app container -->
<div class="container">
	<div class="row">
		<div class="col-md-12">

		<router-outlet></router-outlet>
		</div>


	</div>


</div>


<!-- footer -->
<!--
<footer>
  <div class="container">
    <div class="col-sm-2" style="margin-top: 1em;">
      <img src="assets/images/ontario.png" class="img-responsive">
    </div>
    <div class="col-sm-6">
      <h5>Ministry of Community, Children and Social Service </h5>
      <ul class="list-unstyled">
        <li><a href="#">About us</a></li>

      </ul>
    </div>

    <div class="col-sm-2">
      <h5>Support</h5>
      <ul class="list-unstyled">

        <li><a href="#">Help desk</a></li>
      </ul>
    </div>
    <div class="col-sm-2">
      <ul class="list-unstyled">

        <li><a href="#" (click)="logout()" >logout</a></li>
      </ul>
    </div>
  </div>
</footer>
-->